<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>게시판 목록</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h2>자유게시판 - 목록</h2>
    <form th:action="@{/boards/free/list}" method="get">
      <label for="regDateStart">등록일:</label>
      <input type="date" id="regDateStart" name="regDateStart" th:value="${boardSearchDTO.regDateStart}" /><br /><br />

      <label for="regDateEnd">최근 수정일:</label>
      <input type="date" id="regDateEnd" name="regDateEnd" th:value="${boardSearchDTO.regDateEnd}" /><br /><br />

      <label for="categoryName">카테고리:</label>
      <select id="categoryName" name="categoryName" th:value="${boardSearchDTO.categoryName}">
        <option value="">--카테고리를 선택해 주세요--</option>
        <option
          th:each="items : ${boardSearchDTO.categoryIdNameItems}"
          th:value="${items.name}"
          th:text="${items.name}"
        ></option>
      </select>
      <br /><br />

      <label for="keyword">검색어:</label>
      <input type="text" id="keyword" name="keyword" th:value="${boardSearchDTO.keyWord}" /><br /><br />

      <input type="submit" value="Search" />
    </form>

    <h2>게시글 검색</h2>
    <p>Total Count: <span th:text="${boardSearchDTO.totalCount}"></span></p>
    <table border="1">
      <tr>
        <th>Category</th>
        <th>Title</th>
        <th>File Count</th>
        <th>Writer</th>
        <th>Views</th>
        <th>Reg Date</th>
        <th>Update Date</th>
      </tr>
      <tr th:each="item : ${boardSearchDTO.boardDetailResponseItems}">
        <td th:text="${item.category}"></td>
        <td>
          <a
            th:href="@{/boards/free/views/{id}(id=${item.boardId})}"
            th:text="${item.title}"
          ></a>
        </td>
        <td th:text="${item.fileCount}"></td>
        <td th:text="${item.writer}"></td>
        <td th:text="${item.views}"></td>
        <td th:text="${item.regDate}"></td>
        <td th:text="${item.updateDate}"></td>
      </tr>
    </table>

    <div class="pagination">
      <span th:if="${boardSearchDTO.paginationDto.currentSection != 1}">
        <a
          th:href="@{/boards/free/list(page=${boardSearchDTO.paginationDto.currentSectionPageBegin - 1}, regDateStart=${boardSearchDTO.regDateStart}, regDateEnd=${boardSearchDTO.regDateEnd}, categoryName=${boardSearchDTO.categoryName}, keyword=${boardSearchDTO.keyWord})}"
          >&lt;</a
        >
      </span>

      <span
        th:each="i : ${#numbers.sequence(boardSearchDTO.paginationDto.currentSectionPageBegin, boardSearchDTO.paginationDto.currentSectionPageEnd)}"
      >
        <span
          th:if="${i == boardSearchDTO.paginationDto.currentPage}"
          th:text="${i}"
        ></span>
        <a
          th:if="${i != boardSearchDTO.paginationDto.currentPage}"
          th:href="@{/boards/free/list(page=${i}, regDateStart=${boardSearchDTO.regDateStart}, regDateEnd=${boardSearchDTO.regDateEnd}, categoryName=${boardSearchDTO.categoryName}, keyword=${boardSearchDTO.keyWord})}"
          th:text="${i}"
        ></a>
      </span>

      <span
        th:if="${boardSearchDTO.paginationDto.currentSection != boardSearchDTO.paginationDto.totalSection}"
      >
        <a
          th:href="@{/boards/free/list(page=${boardSearchDTO.paginationDto.currentSectionPageEnd + 1}, regDateStart=${boardSearchDTO.regDateStart}, regDateEnd=${boardSearchDTO.regDateEnd}, categoryName=${boardSearchDTO.categoryName}, keyword=${boardSearchDTO.keyWord})}"
          >&gt;</a
        >
      </span>

      <a
        th:href="@{/boards/free/list(page=${boardSearchDTO.paginationDto.totalPage}, regDateStart=${boardSearchDTO.regDateStart}, regDateEnd=${boardSearchDTO.regDateEnd}, categoryName=${boardSearchDTO.categoryName}, keyword=${boardSearchDTO.keyWord})}"
        th:text="${boardSearchDTO.paginationDto.totalPage}"
      ></a>
    </div>
  </body>
</html>
